<div class= "container">
  <footer class="footer">
    <small>
    Copyright &copy; by<a href="https://www.facebook.com/profile.php?id=100001273727579"> Ahmed Sherif </a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path%></li>
      </ul>
    </nav>
  </footer>
</div>